apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
        - name: python-container
          image: armcool004/python_blackbox_app
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: python-svc
spec:
  type: LoadBalancer
  selector:
    app: python
  ports:
    - port: 80
      targetPort: 5000
